Create a section on information models

References...
RFC3444
RFC6123 section 3.2 
Are there any other documents？

Information models are not frequently written in the IETF. The most foundational reference appears to be RFC 3444, which clearly distinguishes between information and data models. Another relevant reference is RFC 6123 Section 3.2, it appears outdated due to its MIB/SNMP focus. 

Benoit kindly pointed out two recent drafts discussed in OPSAWG that may serve as relevant examples:
draft-ietf-opsawg-discardmodel – first attempt to use YANG as an information model language
draft-evans-opsawg-ipfix-discard-class-ie
Below is my initial proposed structure for the section, and I’d very much appreciate feedback or suggestions from the group before proceeding to draft actual text:

Information Model
1）Brief explanation of what an Information Model (IM) is，referencing RFC 3444
2）Clarification of the difference between IM and Data Model (DM), referencing RFC 3444
3）As described in draft-ietf-opsawg-discardmodel, the information model is defined using YANG [RFC7950], with Data
 Structure Extensions [RFC8791]，following the guidance of [RFC3444] to remain abstract and decoupled from specific implementations.  This abstraction supports different data model implementations—such as YANG, IPFIX [RFC7011], gMNI, or SNMPv3 [RFC3411]—while maintaining semantic consistency across them. Using YANG for the information model enables this abstraction, leverages the community's familiarity with its syntax, and ensures a lossless and consistent mapping to its corresponding YANG data model. 
4）Structure
To make the abstract information model clearer, it is recommended to use the YANG Tree Diagram defined in RFC 8340. It provides a simple and standardized way to show the structure of the model without being tied to any specific implementation. Furthermore, to ensure alignment between the abstract model and its concrete realizations.
The information model draft should include at least one corresponding data model (see draft-ietf-opsawg-discardmodel for the IM writing method). If there are additional implementations, such as IPFIX, it should be included in the same document to maintain consistency and provide a complete reference for implementers.

RFC 5706 provides a useful comparison of info and data models.

Requesting an Information Model in an IETF document is only required IF there are multiple data models representations of it (ex: YANG, IPFIX, etc.), for lossless mapping. 
If you create an Information Model, you can think of YANG as language to do so

Section 4.2 might elaborate on those points.

In terms section：
Information model: an abstraction and representation of the entities in a managed environment, their properties, attributes and operations, and the way that they relate to each other. It is independent of any specific repository, software usage, protocol, or platform [RFC3444].      
— Defined in RFC 5706, referencing RFC 3444 

Information model section：

Information models are helpful to try to focus interoperability on the semantic level -- they define what information should be gathered and how that information might be used, regardless of which management interface carries the data or which vendor product produces the data.  The use of an information model might help improve the ability of operators to correlate messages in different protocols where the data overlaps, such as a syslog message and a YANG notification about the same event.  An information model might identify which error conditions should be counted separately and which error conditions can be recorded together in a single counter.  Then, whether the counter is gathered via Netconf/YANG, a CLI command, or a syslog message, the counter will have the same meaning.
                      IM                        --> conceptual/abstract model
                        |                             for designers and operators
      +----------+---------+
      |                 |               |
      DM          DM         DM       --> concrete/detailed model
                                                      for implementers

   Figure **  Information Models（IMs） and Data Models（DMs） 
 
Protocol designers may decide to use an informational model to describe the managed elements in a new protocol or protocol extension. The protocol designers may then use the information model to develop data models that will be used for managing the protocols.   Alternatively, the protocol designers may directly develop data models without first producing an information model.

"On the Difference between Information Models and Data Models"[RFC3444] is helpful in determining what information to consider regarding information models (IMs), as compared to data models (DMs).

Protocol designers should develop an information model if multiple data model representations (e.g. YANG [RFC7950], IPFIX [RFC7011], gMNI [gMNI], etc.) are to be produced, to ensure lossless semantic mapping. Protocol designers may also make an information model if the consequent data models will be complex or many.

Information Model Design

This document recommends keeping the information model as simple as possible by applying the following criteria:
1.  Start with a small set of essential objects and make additions only as further objects are needed with the objective of keeping the total number of objects as small as possible.
2.  Require that all objects be essential for management.
3. Consider evidence of current use of the managed protocol, and the perceived utility of objects added to the information model.
4.  Exclude objects that can be derived from others in this or other information models.
5.  Avoid causing critical sections to be heavily instrumented.  A
guideline is one counter per critical section per layer.
6. When defining an information model in YANG [RFC7950] with Data Structure Extensions [RFC8791] (thereby keeping it abstract and implementation-agnostic per [RFC3444]) ensure that the module remains simple, modular, and clear by following the authoring guidelines in [I-D.ietf-netmod-rfc8407bis].
7. When illustrating the abstract information model, use the YANG tree diagram from RFC 8340 to provide a simple, standardized, and implementation-neutral model structure.

[draft-opsarea-rfc5706bis-00--IM related content.docx](https://github.com/user-attachments/files/20180701/draft-opsarea-rfc5706bis-00--IM.related.content.docx)

Thanks Med，The relevant content of this section has been synchronized to the issue [Should or May decide #33](https://github.com/IETF-OPSAWG-WG/draft-opsarea-rfc5706bis/issues/33) . It is recommended to discuss based on the newly updated content.

> In terms section： Information model: an abstraction and representation of the entities in a managed environment, their properties, attributes and operations, and the way that they relate to each other. It is independent of any specific repository, software usage, protocol, or platform [RFC3444]. — Defined in RFC 5706, referencing RFC 3444
> 
> Information model section：
> 
> Information models are helpful to try to focus interoperability on the semantic level -- they define what information should be gathered and how that information might be used, regardless of which management interface carries the data or which vendor product produces the data. The use of an information model might help improve the ability of operators to correlate messages in different protocols where the data overlaps, such as a syslog message and a YANG notification about the same event. An information model might identify which error conditions should be counted separately and which error conditions can be recorded together in a single counter. Then, whether the counter is gathered via Netconf/YANG, a CLI command, or a syslog message, the counter will have the same meaning. IM --> conceptual/abstract model | for designers and operators +----------+---------+ | | | DM DM DM --> concrete/detailed model for implementers
> 
> Figure ** Information Models（IMs） and Data Models（DMs）
> 
> Protocol designers may decide to use an informational model to describe the managed elements in a new protocol or protocol extension. The protocol designers may then use the information model to develop data models that will be used for managing the protocols. Alternatively, the protocol designers may directly develop data models without first producing an information model.
> 
> "On the Difference between Information Models and Data Models"[RFC3444] is helpful in determining what information to consider regarding information models (IMs), as compared to data models (DMs).
> 
> Protocol designers should develop an information model if multiple data model representations (e.g. YANG [RFC7950], IPFIX [RFC7011], gMNI [gMNI], etc.) are to be produced, to ensure lossless semantic mapping. Protocol designers may also make an information model if the consequent data models will be complex or many.
> 
> Information Model Design
> 
> This document recommends keeping the information model as simple as possible by applying the following criteria:
> 
> 1. Start with a small set of essential objects and make additions only as further objects are needed with the objective of keeping the total number of objects as small as possible.
> 2. Require that all objects be essential for management.
> 3. Consider evidence of current use of the managed protocol, and the perceived utility of objects added to the information model.
> 4. Exclude objects that can be derived from others in this or other information models.
> 5. Avoid causing critical sections to be heavily instrumented.  A
>    guideline is one counter per critical section per layer.
> 6. When defining an information model in YANG [RFC7950] with Data Structure Extensions [RFC8791] (thereby keeping it abstract and implementation-agnostic per [RFC3444]) ensure that the module remains simple, modular, and clear by following the authoring guidelines in [I-D.ietf-netmod-rfc8407bis].
> 7. When illustrating the abstract information model, use the YANG tree diagram from RFC 8340 to provide a simple, standardized, and implementation-neutral model structure.
> 
> [draft-opsarea-rfc5706bis-00--IM related content.docx](https://github.com/user-attachments/files/20180701/draft-opsarea-rfc5706bis-00--IM.related.content.docx)

Thanks Med，The relevant content of this section has been synchronized to the issue https://github.com/IETF-OPSAWG-WG/draft-opsarea-rfc5706bis/issues/33 . It is recommended to discuss based on the newly updated content.

Based on the comments from Benoit and the discussion in issue #33, the Informational section has been updated as follows:
In terms section：
Information model: an abstraction and representation of the entities in a managed environment, their properties, attributes and operations, and the way that they relate to each other. It is independent of any specific repository, software usage, protocol, or platform [RFC3444].
— Defined in RFC 5706, referencing RFC 3444

Information model section：

Information models are helpful to try to focus interoperability on the semantic level -- they define what information should be gathered and how that information might be used, regardless of which management interface carries the data or which vendor product produces the data. The use of an information model might help improve the ability of operators to correlate messages in different protocols where the data overlaps, such as YANG data model and IPFIX Information Elements about the same event. An information model might identify which error conditions should be counted separately and which error conditions can be recorded together in a single counter. Then, whether the counter is gathered via Netconf/YANG, the counter will have the same meaning.
Protocol designers should consider which information might be useful for managing the new protocol or protocol extensions.
![Image](https://github.com/user-attachments/assets/135f5b6f-e549-4464-b704-1c796a5c878c)
Protocol designers may decide to use an informational model to describe the managed elements in a new protocol or protocol extension. The protocol designers may then use the information model to develop data models that will be used for managing the protocols. Alternatively, the protocol designers may directly develop data models without first producing an information model.
Please see if it is suitable？
"On the Difference between Information Models and Data Models"[RFC3444] is helpful in determining what information to consider regarding information models (IMs), as compared to data models (DMs).

Protocol designers should develop an information model if multiple data model representations (e.g. YANG [RFC7950], IPFIX [RFC7011], gMNI [gMNI], etc.) are to be produced, to ensure lossless semantic mapping. Protocol designers may also make an information model if the consequent data models will be complex or many.

Information Model Design

This document recommends keeping the information model as simple as possible by applying the following criteria:

1.Start with a small set of essential objects and make additions only as further objects are needed with the objective of keeping the total number of objects as small as possible.
2.Require that all objects be essential for management.
3.Consider evidence of current use of the managed protocol, and the perceived utility of objects added to the information model.
4.Exclude objects that can be derived from others in this or other information models.
5.Avoid causing critical sections to be heavily instrumented. A guideline is one counter per critical section per layer.
6.When defining an information model in YANG [RFC7950] with Data Structure Extensions [RFC8791] (thereby keeping it abstract and implementation-agnostic per [RFC3444]) ensure that the module remains simple, modular, and clear by following the authoring guidelines in [I-D.ietf-netmod-rfc8407bis].
7.When illustrating the abstract information model, use the YANG tree diagram from RFC 8340 to provide a simple, standardized, and implementation-neutral model structure.