New OPS-related technologies

Because this documents was produced in 2009, it missed some new OPS-related technologies (protocols and data models): BMP, Alt Mark, NETCONF/RESTCONF, YANG

A good example would be

https://datatracker.ietf.org/doc/html/draft-opsarea-rfc5706bis#section-2
---
BGP flap damping [RFC2439] is an example. It was designed to block high-frequency route flaps; however, the design did not consider the existence of BGP path exploration / slow convergence. In real operations, path exploration caused false flap damping, resulting in loss of reachability. As a result, many networks turned flap damping off.


https://datatracker.ietf.org/doc/html/draft-ietf-grow-bmp-path-marking-tlv-02#section-2.1
---
Reason Code (2 Octets, optional): indicates the reason of the path status indicated in the Path Status field. The reason code field is optional. If no reason code is carried, this field is empty. If a reason code is carried, the reason code is indicated by a 2-byte value, which is defined in Table 2.

+------------+-----------------------------+
| Value      | Path type                   |
+------------------------------------------+
| 0x00001000 | Suppressed                  |
+------------+-----------------------------+

Suppressed refers to a path which has been declared suppressed by the BGP Route Flap Damping mechanism as described in Section 2.2 of [RFC2439].

Network Telemetry Framework
https://datatracker.ietf.org/doc/html/rfc9232

See #89 for a suggestion on YANG with respect to SMI being mentioned.  Also, s/resent/recent/ in that section if the text remains.

Conclusion from the call on August 7th:
- mixed of protocol, data model, and framework (telemetry). Clean up the list and/or the text introducing it.

Next step: Benoit to investigate, what about removing this section?